$main-bg-color: #FF5555;
$border-main-color: #D9D9D9;
$input-focus-color: #000000;
$input-disabled-color: #7E7E7E;
$card-default-color: #000000;
$secondary-card-color: #7E7E7E;
$card-hover-color: #B6B6B640;
$first-letter-color: #FFFFFF;
$company-hover-color: #208FBF;
$grid-left-top-margin: 20px;
