.grid {
    left: 20px;
    top: 20px;
    box-sizing: border-box;
    position: absolute;
    display: grid;
    gap: 16px;
}

.search-line {
    height: 54px;
    width: 357px;
    display: flex;
    justify-content: space-between;
}