@import "src/styles/variables.scss";

.grid {
    margin: $grid-left-top-margin 0 0 $grid-left-top-margin;
    box-sizing: border-box;
    display: grid;
    gap: 16px;
    width: 357px;
}

.searchLine {
    height: 54px;
    width: 357px;
    display: flex;
    justify-content: space-between;
}