@import "src/styles/variables.scss";

.firstCompanyLetter {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    background: $main-bg-color;
    text-align: center;
    color: $first-letter-color;
}

.companyAvatar {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 40px;
}