@import "../../styles/variables.css";

.first-company-letter {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    background: var(--main-bg-color);
    border-radius: 40px;
    text-align: center;
    color: var(--first-letter-color);
}

.company-avatar {
    position: relative;
    width: 80px;
    height: 80px;
}