<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
<div class="grid">
    <div class="search-line">
        <input type="text" class="git-name" placeholder="Введите название организации">
        <button class="search-button" type="submit" id="search"><img src="search.png" alt=""></button>
    </div>
    <div class="box">
        <span class="first-company-letter"> K </span>
        <div class="git-card">
        <span class="git-name-card"> kts-school-frontend </span>
        <span class="git-company-card"> ktsstudio </span>
        <img class="star" src="star.png" alt="">
        <span class="git-views-card"> 123 </span>
        <span class="git-date-card"> Updated 21 Jul </span>
        </div>
    </div>
    <div class="box">
        <span class="first-company-letter"> U </span>
        <div class="git-card">
            <span class="git-name-card"> kts-school-frontend </span>
            <span class="git-company-card"> urling </span>
            <img class="star" src="star.png" alt="">
            <span class="git-views-card"> 123 </span>
            <span class="git-date-card"> Updated 21 Jul </span>
        </div>
    </div>
    <div class="box">
        <span class="first-company-letter"> N </span>
        <div class="git-card">
            <span class="git-name-card"> kts-school-frontend </span>
            <span class="git-company-card"> nicu </span>
            <img class="star" src="star.png" alt="">
            <span class="git-views-card"> 123 </span>
            <span class="git-date-card"> Updated 21 Jul </span>
        </div>
    </div>
</div>
</body>
</html>